@font-face
{
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
        url('fonts/Roboto-Regular-webfont.woff') format('woff'),
        url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
        url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'robotobold';
    src: url('fonts/Roboto-bold-webfont.eot');
    src: url('fonts/Roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-bold-webfont.woff2') format('woff2'),
        url('fonts/Roboto-bold-webfont.woff') format('woff'),
        url('fonts/Roboto-bold-webfont.ttf') format('truetype'),
        url('fonts/Roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'lobster-regular';
    src: url('fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'amatic-sc-regular';
    src: url('fonts/AmaticSC-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'amatic-sc-bold';
    src: url('fonts/AmaticSC-Bold.ttf') format('truetype');
}

body
{
    color: #35342f;
    background-color: #e1e0dd;
	font-family: 'robotoregular';
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	margin: auto;
    max-width: 1600px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

a
{
    text-decoration: none;
    font-style: italic;
    color: #35342f;
    border-bottom: 1px solid #000;
}

h1
{
    font-size: 2.3rem;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'lobster-regular';
}

h2
{
    color: #f67944;
    font-size: 1.5rem;
}

.news>h2
{
    padding-left: 10px;
    margin-top: 0px;
}

.news
{
    padding: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}


/*FONTAWESOME */
.fa-exclamation-triangle
{
    color: #db2f27;
}

/* BO */

h1>a, header>h1
{
    font-style: normal;
    border-bottom: none;
    color: #37bbe4;
}

h1>a:hover
{
    border-bottom: none;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

#HeaderLinks a
{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 10px;
    text-decoration: none;
    line-height: 1.5;
    padding-bottom: 1px;
}

.articleForm
{
    display: flex;
    flex-direction: column;
    background-color: #e1e0dd;
    padding: 2%;
    width: 60%;
    justify-content: center;
    box-shadow: 0 0.1875rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.501);
}

#mceu_17
{
    width: 100%;
}

#title
{
    width: 100%;
}

.articleForm > h2:nth-child(1)
{
    margin-top: 0;
}

.comment
{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    background-color: #f1f2f0;
    padding: 2%;
    width: 60%;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

.commentRightBOHEader
{
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.commentRightBOHEader
{
    line-height: 0.5em;
}

.report
{
    margin-top: 5px;
    color: #db2f27;
}

.approved
{
    color: #3dbd5d;
}

.signaledCommentsNumber, .pending
{
    color: #f67944;
}

.moderationPendingNumber
{
    color: #37bbe4;
}
/*TABLE BO */
#postsBO
{
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0.1875rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.501);
    text-align: center;
    max-width: 1000px;
    margin-bottom: 50px;
}

#postsBO a:hover
{
    color: #37bbe4;
    transition: color 0.2s linear;
}

#postsBO td, #postsBO th
{
    border: 1px solid #e1e0dd;
    padding: 8px;
}

#postsBO tr:nth-child(even)
{
    background-color: #f2f2f2;
}

#postsBO tr:hover
{
    background-color: #edece9;
    transition: background-color 0.2s linear;
}

#postsBO th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e1e0dd;
    text-align: center;
}

/* Comment BO*/
.commentBOHeader
{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.commentContentBO
{
    background-color: #e1e0dd;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.moderationActionsBO
{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.moderationActionsBO a
{
    border-bottom: 1px solid #000;
}

#homeBOSubmit
{
    margin-top: 10px;
}

#BOHeaderComments
{
    font-family: 'robotobold';
    padding-left: 15px;
}

#postSuppressionBO a
{
    margin-top: 10px;
    border-bottom: 1px solid red;
}

#formButtons
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/*Home Front */

.chapterFrontHome, .chapterFrontHome>h1
{
    max-height: 250px;
    overflow: hidden;
    background-color: #f1f2f0;
    font-family: 'amatic-sc-regular';
    font-size: 1.3em;
}

.chapterFrontHome
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 5px;
}

.chapterFrontPost, .chapterFrontPost>h1
{
    background-color: #f1f2f0;
    font-family: 'amatic-sc-regular';
    font-size: 1.3em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.w3-responsive
{
    display: none;
}

.commentFrontForm
{
    display: flex;
    flex-direction: column;
    background-color: #e1e0dd;
    padding: 2%;
    width: 60%;
    justify-content: center;
    box-shadow: 0 0.1875rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.501);
}

#author, #comment
{
    width: 100%;
}

#comment
{
    height: 100px;
}

a:hover
{
    color: #37bbe4;
    border-bottom: 1px solid #37bbe4;
    transition: color 0.2s linear;
}