@font-face
{
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
        url('fonts/Roboto-Regular-webfont.woff') format('woff'),
        url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
        url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'robotobold';
    src: url('fonts/Roboto-bold-webfont.eot');
    src: url('fonts/Roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-bold-webfont.woff2') format('woff2'),
        url('fonts/Roboto-bold-webfont.woff') format('woff'),
        url('fonts/Roboto-bold-webfont.ttf') format('truetype'),
        url('fonts/Roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    color: #393939;
    background-color: #f7f7f7;
	font-family: 'robotoregular';
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	margin: auto;
    max-width: 1600px;
    margin-left: 5%;
    margin-right: 5%;
}

h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}

/*
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}
*/
a
{
    text-decoration: none;
    font-style: italic;
}

html body div h3
{
    width: 50%;
}

.chapterFront
{
    max-height: 250px;
    overflow: hidden;
    width: 80%;
    background-color: #dcdcdc;
}

/*FONTAWESOME */
.fa-thumbs-up, .approved
{
    color: green;
}

.fa-thumbs-down, .disapproved
{
    color: orange;
}

.fa-exclamation-triangle, .pending
{
    color: red;
}

#BOHeader
{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

#BOHeaderLinks p
{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 10px;
    border-bottom: 1px solid #000;
    text-decoration: none;
    line-height: 1.5;
    padding-bottom: 1px;
}

h1, h2, h3, h4
{
    margin-top: 3em;
    float: left;
    margin: 1em 0 0.25em;
    margin-top: 1em;
    font-weight: 700;
}

h1
{
    font-size: 1.8rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2
{
    font-size: 1.2rem;
}

.articleForm
{
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    padding: 2%;
    width: 60%;
    justify-content: center;
}

#mceu_17
{
    width: 100%;
}

#title
{
    width: 100%;
}

.articleForm > h2:nth-child(1)
{
    margin-top: 0;
}

.comment
{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    padding: 2%;
    width: 60%;
    justify-content: center;
}